{% extends "base.html" %}
{% block title %}
	Магазин АвтоТюнинг
{% endblock %}

{% set selected_chassis = "selected" %}  <!-- передача переменной для подсвечивания меню-->
{% set title_right_menu = "Запасные части для кузова и ходовой"%}  <!-- в правое меню заголовок -->
{% set title_right_menu2 = "Элементы подвески и комплектующие для кузова"%}  <!-- в правое меню заголовок -->
{% set banner = "banner_chassis.png" %}
{% block menu %}
	{% include "inc_top_menu.html" %}
{% endblock %}
{% block right_menu %}
	{% include "inc_right_menu.html" %}
{% endblock %}
{% block body %}
	{% include "inc_chassis.html" %}
{% endblock %}
{% block footer %}
	{% include "inc_footer.html" %}
{% endblock %}
