      <div id="content">
        <!-- insert the page content here -->
        <p>Наш коллектив приветствует Вас на нашем сайте</p>
        <p>Мы предлагаем поставку основных комплектующих автомобилей всех марок.</p>
        <p>Действует программа скидок и система лояльности для постоянных клиентов</p>
            {% filter upper %}
        <h1>Основные детали подвески</h1>
            {% endfilter %}
        <p>Подвеска любого современного автомобиля – это особый элемент, служащий переходным звеном между дорогой и
          кузовом. И сюда входят не только передние и задние мосты и колёса, но и целая совокупность механизмов,
          деталей, пружин и различных узлов.</p>
        <p>Подвеска любого современного автомобиля призвана выполнять несколько основных функций:</p>

        <li>Соединение мостов и колёс с основной несущей системой – рамой и кузовом.</li>
        <li>Передача крутящего момента от двигателя и основной несущей силы.</li>
        <li>Обеспечение необходимой плавности хода.</li>
        <li>Сглаживание дорожных неровностей.</li>
        <br>
        <p>Все производители работают над повышением эффективности, надёжности и прочности подвески, внедряя более
          продвинутые решения.</p>
        <p>Классические автомобильные подвески уже давно ушли в прошлое. Сейчас такие системы стали более сложными.
          Выделяют две основных разновидности:</p>

        <li>Зависимая.</li>
        <li>Независимая.</li>
        <br>
        <p>Подавляющее большинство легковушек оснащается независимой подвеской. Она позволяет добиться большего комфорта
          и безопасности. Суть такой конструкции заключается в том, что колеса, располагающиеся на одной оси, никак
          жестко не связаны друг с другом. Благодаря этому, когда одно колесо наезжает на какую-то неровность, другое не
          меняет своего положения.</p>
        <p>В случае с зависимой подвеской колёса соединяются жёсткой балкой и представляют собой фактически монолитную
        конструкцию. В результате этого пара движется синхронно, что не очень удобно.</p>
      </div>
    </div>
