  <div id="content">
    <!-- insert the page content here -->
    <h1>Двигатели внутреннего сгорания</h1>
    <p>Ни у кого не вызывает сомнения тот факт, что двигатель – это сердце автомобиля. Он является одним из самых
      сложных составляющих любого транспорта, поэтому его ремонту и улучшению уделяют много времени и сил.</p>
    <p>Наш магазин предлагает поставку широкого спектра запчастей для двигателей различных марок автомобилей,
      мотоциклов, автобусов и спецтехники.</p>
    <h4>Блок ДВС</h4>
    <p>Блок двигателя внутреннего сгорания считается основой всего механизма. В нем располагаются все базовые узлы,
      благодаря которым автомобиль приводится в действие. Поэтому к блоку цилиндров выдвигаются особые требования.
      Как правило, его изготавливают из высококачественных материалов, а после тщательно обрабатывают на современных
      высокоточных станках. Как показывает практика, блоки цилиндров массово производят из серого чугуна с добавками
      легирующих элементов, но в наше время производители нередко используют алюминий и даже магний. Из чугуна, как
      правило, выполняют блоки для грузовиков и специальной техники, а из алюминия ¬– для спортивных автомобилей. На
      спортивных двигателях с турбонадувом в стали выполнять блоки цилиндров из комбинированных материалов,
      внутренняя часть которых выполнена из алюминия, а внешняя (где располагается рубашка охлаждения) – из магния.
      Комбинированные и алюминиевые блоки позволяют добиться существенного снижения веса двигателя, что является
      характерной чертой для спортивных автомобилей.</p>
    <p>Немаловажную роль в блоке ДВС играет рубашка системы внутреннего охлаждения – С ее помощью осуществляется
      доступ специальной охлаждающей жидкости к нагревающимся деталям цилиндропоршневой группы. Рубашка охлаждения –
      это пустоты во внутренних полостях блока, которые проектируется так, чтобы жидкость могла эффективно и
      равномерно обволакивать нагретые детали.</p>
    <p>Еще в блоке ДВС предусмотрены специальные каналы, по которым поступает масло ко всем необходимым
      поверхностям. Также в блоке расположены все базовые узлы двигателя внутреннего сгорания ¬– коленчатый вал,
      поршни, приводной механизм ГРМ, поддон и т.д.</p>
    <h4>Головка клапана</h4>
    <p>Головка блока цилиндров (ГБЦ) состоит из следующих компонентов:</p>
      <ol>
    <li>Крышка головки блока цилиндров. На нее возлагается защитная функция всего механизма;</li>
    <li>Прокладка ГБЦ. Она обеспечивает плотное прилегание ГБЦ к блоку цилиндров;</li>
    <li>Специальная полость. В ней располагаются натяжные цепи и привод распределительного вала;</li>
    <li>Резьбовые отверстия. Предназначены для свеч или форсунок;</li>
    <li>Камеры сгорания;</li>
    <li>Место для газораспределительной системы;</li>
    <li>Отверстия для крепления впускных и выпускных клапанов.</li>
      </ol>
    <p>Конструкция головки блока цилиндров разрабатывается для максимальной оптимизации процессов в камере
      внутреннего сгорания. Ее работа влияет на поведение автомобиля в целом и на его скорость в частности. Сверху
      головка блока закрывается крышкой, которая крепится через прокладку. Крышка головки блока выполняется из
      высококачественной стали или алюминия. ГБЦ современных автомобилей имеют сложную конфигурацию, и содержат
      большое количество деталей. Стоит отметить, что в наше время разрабатываются довольно качественные ГБЦ, что
      обеспечивает долговечную эксплуатацию.</p>
    <h4>Клапана</h4>
    <p>Клапан – это одно из главных устройств, расположенных в двигательной системе любого автомобиля. С его помощью
      регулируется расход газа и жидкости в транспортном средстве. Проходное сечение, которое есть на всех клапанах,
      отвечает за расход ГСМ. При производстве современных автомобилей используют такие видов клапанов:</p>
      <ol>
    <li>Электромагнитные клапана;</li>
    <li>Электрические клапана;</li>
    <li>Механические клапана;</li>
    <li>Дроссельные клапана;</li>
    <li>Предохранительные или регулировочные.</li>
      </ol>
    <p>От клапанов зависит качество работы двигателя. Если зазоры клапанов не отрегулированы, то при езде могут
      возникать непредусмотренные шумы и т. д. Всем известно, что цилиндр, как правило, имеет два клапана. Первый
      лапан предназначен для пропуска горючей смеси, второй – для выпуска отработавших газов. Отсюда и название —
      впускной и выпускной клапан.
      В наше время можно приобрести клапан любого типа и производителя безо всяких проблем.</p>
    <h4>Масляный фильтр</h4>
    <p>Не зависимо от марки производителя и типа комплектации автомобильного двигателя масляный фильтр остается
      незаменимым компонентом работающего транспорта. Помимо того, что данный элемент подает масло на трущиеся
      поверхности, тем самым смазывая и охлаждая их, он еще удаляет продукты износа с этих деталей. Благодаря
      масляному фильтру двигатель автомобиля работает гораздо дольше, а если не менять масло или вообще его не
      залить, то двигатель очень быстро нагреется и выйдет из строя.</p>
    <h4>Приводной ремень</h4>
    <p>Приводной ремень служит для передачи крутящего момента на вентилятор для охлаждения радиатора.
      Соответственно, это очень важная деталь в механизме двигателя любого автомобиля. Любая неисправность приводит
      к непосредственной остановке транспорта. Например, если ремень порвался, то вам придется вызывать эвакуатор и
      ехать в ближайшую станцию техобслуживания. Этому элементу ременной передачи уделяют особое внимание.</p>
    <h4>Прокладки</h4>
    <p>Форма и материал, из которого изготавливается прокладка, зависят от целей и областей применения. Некоторые
      прокладки служат для удержания технических жидкостей – моторного масла и охлаждающей жидкости. Другие
      производятся исключительно для уплотнения мест прилегания деталей и противодействия внутреннему давлению –
      например, блока и ГБЦ, которые образуют камеру сгорания. Поэтому при выборе автомобильных прокладок следует
      уточнять, для чего они вам нужны.</p>
    <p></p>
    <h4>Сальники</h4>
    <p>Сальник - это техническое уплотнение в автомобиле. Оно применяется для герметизации зазоров. Как правило,
      такие зазоры располагаются между подвижными и неподвижными соединительными деталями. Такие уплотнения имеют
      вид воротника или манжета, имеющего набивки. Например, сальник всегда надевается на вал. Набивки сальника
      может быть резиновой, резинотканевой, асбестовой, асбестопроволочной и т. д. Эти набивки встраивают в
      специально сделанные углубления и в пазы корпусов, крышек и других транспортных деталей.</p>
    <p>Сальник является важным элементом конструкции, от него непосредственно зависит наличие масла, или другой
      технической жидкости в основных узлах автомобиля. Если сальник течет или его не вовремя заменили, в таких
      случаях возможен выход из строя всего узла. Поэтому их следует постоянно проверять.</p>
    <h4>Газораспределительный механизм</h4>
    <p>Газораспределительный механизм (ГРМ) предназначается для своевременной подачи в цилиндры двигателя топливно-
      воздушной смеси или воздуха и выпуска отработавших газов. Такие функции выполняются за счет открытия и
      закрытия клапанов с необходимым интервалом в правильной последовательности. ГРМ объединяет клапаны с
      распредвал с приводом двигателя. Эта система отвечает за удаление отработавшего материала, который в случае
      накопления грозит полной поломкой всего механизма в целом. Видимо, поэтому ГРМ уделяется особое внимание.</p>
  </div>
</div>

