<div id="content_header"></div>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>{{title_right_menu}}</h3>
            <h4>{{title_right_menu2}}</h4>
            <h5>{{date}}</h5>
            <p>Наш магазин предлагает широкий спектр автозапчастей для автомобилей иностранного и отечественного
              производства.<br /><a href="engine">Читать далее...</a></p>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Смотрите также</h3>
            <ul>
              <li><a href="index">Главная</a></li>
              <li><a href="chassis">Подвеска</a></li>
              <li><a href="engine">Двигатель</a></li>
              <li><a href="tuning">Тюнинг</a></li>
              <li><a href="contact">Контакты</a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Поиск</h3>
            <form method="post" action="#" id="search_form">
              <p>
                <input class="search" type="text" name="search_field" value="Введите поиск....." />
                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
              </p>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>