<div id="content">
<!--    <div id="banner"></div>-->
    <!-- insert the page content here  -->
    <h1>Официальный интернет-магазин автозапчастей "АвтоТюнинг"</h1>
    <p>Наш коллектив приветствует Вас на нашем сайте</p>
    <p>Основные направления деятельности нашей компании:</p>

    <li>Продажа запчастей на легковые автомобили отечественного и импортного производства.</li>
    <li>Продажа запчастей для грузовых автомобилей и прицепной техники европейского производства.</li>
    <li>Продажа запчастей для автобусов и микроавтобусов импортного производства.</li>
    <li>Запчасти для мотоциклов DUCATI, HARLEY DAVIDSON, HONDA, KAWASAKI, KTM, SUZUKI, YAMAHA и др.</li>
    <li>Тюнинг автомобилей и мотоциклов</li>
    <br>
    <p>"АвтоТюнинг" это федеральная сеть магазинов, присутствующая в более чем 40 городах европейской части России. Магазины предлагают широкий выбор автозапчастей, аксессуаров и других, необходимых для автовладельцев товаров.</p>
    <p>Во всех магазинах сети представлено более 20 000 наименований товаров высокого качества.</p>
    <p>В 88 магазинах сети работают отделы по продаже запчастей для иномарок. Всегда в наличии наиболее востребованный ассортимент, а также есть возможность заказать любые запчасти.</p>
    <p>Магазины "АвтоТюнинг" осуществляют реализацию товаров за наличный и безналичный расчет физическим и юридическим лицам.</p>
    <p>Мы попытаемся решить даже самые сложные Ваши задачи в поиске запчастей и комплектующих  для Вашей техники.
        Наличие товара, цены и наши возможности Вы сможете узнать в интернет-магазине нашей компании.</p>
    <p>Работает система заказов по недостающим позициям.</p>
    <p>Основная задача нашей компании эффективное сотрудничество с клиентами, гибкая система скидок,
        высокий профессиональный уровень персонала. Установив с нашей компанией деловые отношения, Вы приобретете надежного партнера
        способного предложить Вам широкий ассортимент запчастей ведущих мировых производителей, разумные цены и оптимальные сроки поставки.</p>
    <h2>Наши контакты:</h2>
    <p>Подробную информацию об оформлении покупок по безналичному расчету Вы можете получить по телефону:</p>
    <ul>
      <li>8 (495) 788 49 49 (доб. 1158, 1225, 1042) </li>
      <li>или по электронной почте:</li>
      <li>beznal@autotuning.ru</li>
    </ul>
  </div>
</div>


