{% extends "base.html" %}
{% block title %}
	Магазин АвтоТюнинг
{% endblock %}
{% block style %}
	{% include "inc_style.html" %}
{% endblock %}
{% set selected_index = "selected" %}  <!-- передача переменной для подсвечивания меню-->
{% block menu %}
	{% include "inc_top_menu.html"  %}
{% endblock %}
{% block right_menu %}
	{% include "inc_right_menu.html" %}
{% endblock %}
{% block body %}
	{% include "inc_index.html" %}
{% endblock %}
{% block footer %}
	{% include "inc_footer.html" %}
{% endblock %}
