{% extends "base.html" %}
{% block title %}
	Магазин АвтоТюнинг
{% endblock %}

{% set selected_tuning = "selected" %}  <!-- передача переменной для подсвечивания меню-->
{% set title_right_menu = "Тюнинг автомобиля"%}  <!-- в правое меню заголовок -->
{% set title_right_menu2 = "Элементы тюнинга автомобиля"%}  <!-- в правое меню заголовок -->
{% set banner = "banner_bmw.png" %}
{% block menu %}
	{% include "inc_top_menu.html" %}
{% endblock %}
{% block right_menu %}
	{% include "inc_right_menu.html" %}
{% endblock %}
{% block body %}
	{% include "inc_tuning.html" %}
{% endblock %}
{% block footer %}
	{% include "inc_footer.html" %}
{% endblock %}
